<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterController</filter-name>
        <filter-class>trangbtt.filter.FilterController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterController</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>trangbtt.controllers.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>trangbtt.controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>trangbtt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaffController</servlet-name>
        <servlet-class>trangbtt.controllers.SearchStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>trangbtt.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>trangbtt.controllers.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>trangbtt.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>trangbtt.controllers.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCartController</servlet-name>
        <servlet-class>trangbtt.controllers.InsertCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomController</servlet-name>
        <servlet-class>trangbtt.controllers.DeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRoomController</servlet-name>
        <servlet-class>trangbtt.controllers.InsertRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomController</servlet-name>
        <servlet-class>trangbtt.controllers.EditRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomController</servlet-name>
        <servlet-class>trangbtt.controllers.UpdateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>trangbtt.controllers.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>trangbtt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRoomController</servlet-name>
        <servlet-class>trangbtt.controllers.LoadRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>trangbtt.controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>trangbtt.controllers.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBillController</servlet-name>
        <servlet-class>trangbtt.controllers.UpdateBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillController</servlet-name>
        <servlet-class>trangbtt.controllers.BillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryController</servlet-name>
        <servlet-class>trangbtt.controllers.SearchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInOutController</servlet-name>
        <servlet-class>trangbtt.controllers.CheckInOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCheckInController</servlet-name>
        <servlet-class>trangbtt.controllers.UpdateCheckInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCheckOutController</servlet-name>
        <servlet-class>trangbtt.controllers.UpdateCheckOutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/SignInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaffController</servlet-name>
        <url-pattern>/SearchStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/InsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCartController</servlet-name>
        <url-pattern>/InsertCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomController</servlet-name>
        <url-pattern>/DeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRoomController</servlet-name>
        <url-pattern>/InsertRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomController</servlet-name>
        <url-pattern>/EditRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomController</servlet-name>
        <url-pattern>/UpdateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRoomController</servlet-name>
        <url-pattern>/LoadRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBillController</servlet-name>
        <url-pattern>/UpdateBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillController</servlet-name>
        <url-pattern>/BillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryController</servlet-name>
        <url-pattern>/SearchHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInOutController</servlet-name>
        <url-pattern>/CheckInOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCheckInController</servlet-name>
        <url-pattern>/UpdateCheckInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCheckOutController</servlet-name>
        <url-pattern>/UpdateCheckOutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
